.snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: #f44336;
  color: #fff;
  display: none;
  align-items: center;

  &.open {
    display: flex;
  }

  .alert {
    margin-right: 8px;
    cursor: pointer;

    &.error {
      font-weight: bold;
    }
  }
}