$color_1: #ffffff;
$color_3: white;
$background-color_1: grey;
$background-color_2: #ff0000;

.todo {
  align-items: center;
  background-color: $background-color_1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 80%;
  box-shadow: 2.5px 3px black;
}
.todo-header {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}
.delete-button {
  display: flex;
  align-items: center;
  background-color: $background-color_2;
  color: $color_1;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.delete-button.disabled {
  cursor: not-allowed;
  color: $background-color_1;
}
.delete-icon {
  font-size: 25px;
}
.button-container {
  padding-top: 10px;
}
.filter-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: $color_3;
  font-size: 22px;
  margin-right: 10px;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    opacity: 0.8;
  }
}
.filter-button.outlined {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 10px;
}
.filter-button.text {
  padding: 5px 10px;
}
@media (max-width: 768px) {
  .filter-button {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .todo-column {
    flex: 0 1 100%;
  }
}
