
$background-color_1: wheat;

.todo-block {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: $background-color_1;
}
.todo-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.todos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.todo-column {
  display: flex;
  justify-content: center;
  flex: 0 1 45%;
  margin:10px 10px 30px 10px;
}
.add-item-form {
  background-color: $background-color_1;
  margin: 20px;
}
@media (max-width: 768px) {
  .todos {
    justify-content: center;
  }
  .todo-column {
    flex: 0 1 100%;
  }
}
@media (max-width: 360px) {
  .todo-column {
    flex: 0 1 100%;
  }
}
