
.todo-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  min-height: 100vh;
  background-color: wheat;
}

.todo-container {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.todos {
  border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todo-column {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  flex: 0 1 45%;
  margin-bottom: 30px;
}

.add-item-form {
  background-color: wheat;
  margin: 20px;
}

@media (max-width: 768px) {
  .todos{
    justify-content: center;
  }
  .todo-column {
    flex: 0 1 75%;
  }
}

@media (max-width: 360px) {
  .todo-column {
    flex: 0 1 100%;
  }
}