
$color_1: black;
$color_2: #333;
$background-color_1: wheat;
$background-color_2: transparent;
$background-color_3: #4caf50;

.app {
  box-sizing: border-box;
}
.header {
  background-color: $background-color_1;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 6px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
  color: $color_1;
  font-size: 26px;
  font-weight: bold;
}
.logout-button {
  border: none;
  background-color: $background-color_2;
  cursor: pointer;
  color: $color_2;
  font-size: 25px;
}
.linear-progress {
  height: 4px;
  background-color: $background-color_3;
}
