
App{

  box-sizing: border-box;
}
.header {
  background-color: wheat;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 6px solid red;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
  color: black;
  font-size: 26px;
  font-weight: bold;

}
.logout-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #333;

  font-size: 25px;
}
.linear-progress {
  height: 4px;
  background-color: #4caf50;
}

@media (max-width: 768px) {
  .container{
    max-width:600px ;
  }
}
@media (max-width: 360px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}